DATABASE_URL="postgresql://USER:PASSWORD@HOST-POOLER/DBNAME?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST/DBNAME?sslmode=require"
AUTH_SECRET="ganti-dengan-secret-random"
BLOB_READ_WRITE_TOKEN=""
APP_NAME="Sains Masemba"
DEFAULT_SEED_PASSWORD=""
SEED_DEFAULT_PASSWORD=""
